.w {
    width: 1200px;
    margin: 0 auto;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?vv6xsm');
    src: url('../fonts/icomoon.eot?vv6xsm#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vv6xsm') format('truetype'), url('../fonts/icomoon.woff?vv6xsm') format('woff'), url('../fonts/icomoon.svg?vv6xsm#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: #ffffff;
}

.shortcut {
    height: 30px;
    background-color: #f1f1f1;
}

.shortcut .left ul {
    line-height: 30px;
}

.shortcut ul li {
    font-size: 13px;
    color: #666666;
    float: left;
}

.shortcut .left {
    float: left;
}

.shortcut .left ul li:last-child {
    margin-left: 10px;
}

.shortcut .left ul li a {
    color: red;
    margin-left: 10px;
}

.shortcut .right {
    float: right;
}

.shortcut .right ul {
    height: 12px;
    line-height: 12px;
    margin-top: 8px;
}

.shortcut .right ul li {
    border-left: 1px solid #666666;
    padding-left: 15px;
    margin-left: 15px;
}

.shortcut .right ul li:first-child {
    border: none;
}

.shortcut .right ul li.more::after {
    content: '\e903';
    font-family: 'icomoon';
    margin-left: 5px;
}

.header {
    height: 106px;
}

.logo {
    width: 176px;
    height: 55px;
    float: left;
    margin-top: 27px;
    background: url(../images/logo.png) no-repeat;
}

.logo a {
    display: block;
    font-size: 0;
    /* text-indent: -9999px;
    overflow: hidden; */
}

.search {
    width: 540px;
    height: 55px;
    float: left;
    margin: 27px 0 0 168px;
}

.search input {
    border: 2px solid #b1191a;
    width: 456px;
    height: 35px;
    text-indent: 1em;
    float: left;
}

.search h1 {
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}

.search a {
    display: block;
    width: 80px;
    height: 35px;
    background-color: #b1191a;
    color: #f1dfdf;
    float: left;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
}

.cart {
    width: 137px;
    height: 36px;
    background-color: #f7f7f7;
    float: right;
    margin-top: 26px;
    text-align: center;
    line-height: 36px;
    position: relative;
    border: 1px solid #dfdfdf;
}

.cart span::before {
    content: '\e907';
    font-family: 'icomoon';
    color: #e60012;
    margin-right: 6px;
}

.cart span::after {
    content: '\e905';
    font-family: 'icomoon';
    margin-left: 12px;
}

.cart .count {
    position: absolute;
    left: 95px;
    top: -5px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 10px 10px 10px 0;
}

.nav {
    height: 45px;
    border-bottom: 2px solid #e60012;
}

.nav .dropdown {
    float: left;
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}

.nav .dropdown .dt {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.nav .dropdown .dd {
    height: 465px;
    background-color: #e60012;
}

.nav .dropdown ul li {
    height: 30px;
    line-height: 30px;
    margin-left: 2px;
}

.nav .dropdown ul li:hover {
    background-color: #fff;
}

.nav .dropdown ul li a {
    margin-left: 15px;
    color: #fff;
    font-size: 14px;
}

.nav .dropdown ul li a::after {
    content: '\e905';
    font-family: 'icomoon';
    float: right;
    margin-right: 10px;
}

.nav .dropdown ul li:hover a {
    color: #e60012;
}

.nav .dropitems {
    height: 45px;
    line-height: 45px;
    float: left;
}

.nav .dropitems ul li {
    float: left;
}

.nav .dropitems ul li a {
    padding: 0 25px;
    font-size: 16px;
}

.footer {
    height: 415px;
    padding-top: 30px;
    background-color: #f5f5f5;
}

.footer .more_info {
    height: 80px;
    border-bottom: 1px solid #ccc;
}

.footer .more_info ul li {
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 35px;
}

.footer .more_info ul li .more_img {
    width: 53px;
    height: 50px;
    float: left;
    margin-right: 10px;
    background: url(../images/icons.png) no-repeat -250px -3px;
}

.footer .more_info ul li .service_info {
    padding-top: 5px;
}

.footer .help_info {
    height: 186px;
    padding-left: 54px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}

.help_info dl {
    width: 190px;
    float: left;
}

.help_info dt {
    font-size: 16px;
    color: #666666;
    margin-bottom: 6px;
}

.help_info dd {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-top: 2px;
    color: #666666;
}

.help_info dl:last-child {
    width: 95px;
    text-align: center;
}

.footer .about_us {
    height: 85px;
    text-align: center;
    padding-top: 15px;
}

.footer .about_us h3 {
    font-weight: 400;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 8px;
}

.footer .about_us h3 a {
    margin: 0 10px;
}